#layout-header nav{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}
.mini-logo{
    margin-right:40%;
    width: 20%;
}
.mini-logo a{
    text-decoration: none;
}
.auth-links{
    display: inline-block;
    width:30%;
    text-align: right;
}
.auth-links li{
    font-weight: bold;

    display: inline-block;
    padding-left: 2.5%;
}
.auth-links a{
    text-decoration: none;
}